<%include partials/header.ejs %>

<div class="container">
    <ul>
        <li><a href="/seed">Seed Torrent</a></li>
        <li><a href="/download">Download Torrent</a></li>
        <li><a href="/download-magnetic-uri">Download Torrent from Magnetic URL</a></li>
        <li><a href="/send-to-blockchain">Send Magnetic URL to FLO Blockchain</a></li>
        <li><a href="/fetch-from-blockchain">Download torrent from FLO Blockchain</a></li>
    </ul>
</div>

<%include partials/footer.ejs %>