<%include partials/header.ejs %>

<div class="container">
    <ul>
        <li><a href="/seed">Seed Torrent</a></li>
        <li><a href="/download">Download Torrent</a></li>
    </ul>
</div>

<%include partials/footer.ejs %>